/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    font-family: "Quicksand";
}

body {
    font-size: 1em;
    line-height: 1.4;
}

* {
    outline: none;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Structure */

body {
    margin: 0;
}

hr.noline {
    border: none;
}

.page {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.row, .col, .page {
    overflow: hidden;
    position: absolute;
}

.row {
    left: 0;
    right: 0;
}

.col {
    top: 0;
    bottom: 0;
}

.scroll-x {
    overflow-x: scroll;

}

.scroll-y {
    overflow-y: scroll;

}

.fill, .pane {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.pane {
    display: none;
}

.left.col {
    width: 170px;

    background: #3487a1;
}

.right.col {
    width: 350px;
    right: 0;
    background: #f6f6f6;
    margin-top: 1px;
}

.middle.col {
    margin: 5px 3%;
    right: 350px;
    left: 170px;
}

header.row {
    height: 125px;
    border-bottom: 4px solid #f2f2f2;
}

header .right.col {
    background: none;
    width: 400px
}

header .middle.col {
    right: 400px
}

#container.row {
    top: 128px;
    bottom: 30px;

}

#container .col.main {
    margin: 1px 0 0;
    padding: 10px 3%;
}

footer.row {
    height: 30px;
    bottom: 0;
    background: #eee;
    line-height: 30px;
}

.pullRight {
    float: right;
}

.pullRight:after {
    clear: right;
}

.pullLeft {
    float: left;
}

.pullLeft:after {
    clear: left;
}

/* Header row */

header h1 {
    font-weight: normal;
    margin-bottom: 0;
}

.breadcrump {
    margin: 0;
    font-size: 16px;
    padding: 0 5px;
}

.breadcrump li {
    display: inline;
    list-style: none;
}

.breadcrump li:after {
    content: " / "
}

.breadcrump li:last-child:after {
    content: none;
}

.breadcrump li a {
    text-transform: capitalize;
    text-decoration: none;
    color: #3487a1;
}

.breadcrump li a:hover, .breadcrump a:active, .breadcrump a.active {
    color: #222;
}

span.salute {
    font-size: 16px;
}

img.avatar {
    background: #eeeeee;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    height: 50px;
    width: 50px;
    margin: 35px 0 35px 14px;
}

ul.usermenu {
    list-style: none;
    width: 160px;
    float: right;
    padding-left: 0;
}

ul.usermenu li a {
    border-bottom: 1px solid #eee;
    padding: 6px;
    font-size: 14px;
    color: #222;
    text-decoration: none;
    display: block;
}

ul.usermenu li a:hover {
    background: #fBfBfA;

}

ul.usermenu li:last-child a {
    border: none;
}

/* left Column */

.left ul {
    margin-top: 10px;
    list-style: none;
    padding: 5px 11%;
}

.left ul a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4em;
}

.left ul a.active, .left ul a:hover, .left ul a:active {
    color: #72c3c8;
}

/* Middle Main Content */

.hero {
    padding: 15px 30px 30px;
    font-size: 16px;
    margin: auto;
    background: #f6f6f6;
    -moz-box-shadow: 0px 3px 20px #DDD;
    -webkit-box-shadow: 0px 3px 20px #DDD;
    box-shadow: 0px 3px 20px #DDD;
    width: 615px;
}

.main.middle.col h2 {
    font-weight: normal;
    font-size: 24px;
    padding-left: 30px;
}

.main.middle.col h1 {
    margin: 10px 0 0;
    font-size: 28px;
    font-weight: normal;

}

.main.middle.col p {
    margin: 0;
    padding: 5px 20px;
}

span.status {
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
}

span.status.draft {
    background: #ff9d09;
}

span.status.live {
    background: #2aba1a;
}

span.status.archive {
    background: #395754;
}

.form {
    width: 610px;
}

.form input, .form textarea, .form select {
    width: 300px;
    border: 1px dashed #ddd;
    font-style: italic;
    box-shadow: none;
    font-size: 20px;
    padding: 7px 5px 3px;
    margin-top: 15px;
    display: block;
}

.form.fullWidth input {
    width: 600px;
}

.form.noIndent textarea {
    text-indent: 0;
}

.form input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid, select.ng-dirty.ng-invalid {
    border-color: #ff707f;
}

.form input.ng-pristine.ng-invalid, textarea.ng-pristine.ng-invalid, select.ng-pristine.ng-invalid {
    border-color: #999;
}

.form input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #ccc;
}

.form input:-moz-placeholder, textarea:-moz-placeholder, select:-moz-placeholder {
    color: #ccc;
}

.form textarea {
    font-size: 16px;
    width: 600px;
    /*text-indent: 50px;*/
}

.btn {
    text-decoration: none;
    margin: 20px 0 15px 10px;
    padding: 8px 15px 4px;
    border: none;
    background: #3487a1;
    color: #ffffff;
    font-size: 20px;
    text-transform: capitalize;
}

.btn:hover {
    background: #399fbb;
    -webkit-box-shadow: inset 0px 0px 15px #3487a1;
    -moz-box-shadow: inset 0px 0px 15px #3487a1;
    box-shadow: inset 0px 0px 15px #3487a1;
}

.btn[disabled] {
    cursor: default;
    opacity: 0.65;
    color: #999999;
}

.btn[disabled]:hover {
    background: #3487a1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.btn.small {
    background: none;
    padding: 4px 9px 3px;
    color: #666;
}

.btn.small:hover {
    background: #fafafa;
    color: #3487a1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 5px #ddd;
    -moz-box-shadow: inset 0px 0px 5px #ddd;
    box-shadow: inset 0px 0px 5px #ddd;
}

.btnGroup {
    width: 540px;
    margin: auto;
}

.btnGroup .btn:first-child {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.btnGroup .btn:last-child {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.btnGroup .btn {
    margin: 0;
    color: #222;
    padding: 8px 8px 4px;
    font-size: 16px;
    background: #f2f2f2;
    border: 1px solid #ccc;
}

.btnGroup .btn.active, .btnGroup .btn:hover {
    -webkit-box-shadow: inset 0px 1px 5px #aaa;
    -moz-box-shadow: inset 0px 1px 5px #aaa;
    box-shadow: inset 0px 1px 5px #aaa;
}

.btnGroup .btn.active {
    border: none;
    color: #666;
    background: #fafafa;
    text-shadow: #222 0 0 1px;
}

.zippy {
    display: block;
    margin: 15px 0;
}

.zippy .title:after {
    color: #ccc;
    float: right;
}

.zippy.opened .title:after {
    content: '▲';
}

.zippy.opened .body {
    display: block;
}

.zippy.closed .title:after {
    content: '▼';
}

.zippy.closed .body {
    display: none;
}

.zippy .title {
    -webkit-box-shadow: 0px 2px 5px #aaa;
    -moz-box-shadow: 0px 2px 5px #aaa;
    box-shadow: 0px 2px 5px #aaa;
    background: #f2f2f2;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.zippy.opened .title, .zippy .title:hover {
    -webkit-box-shadow: inset 0px 0 5px #aaa;
    -moz-box-shadow: inset 0px 0 5px #aaa;
    box-shadow: inset 0px 0 5px #aaa;
}

.zippy .title:hover:after {
    color: #222;
}

.meter {
    height: 15px;
    position: relative;
    background: #ccc;
    padding: 0;
    box-shadow: inset 0px 0px 15px #aaa;
    -webkit-box-shadow: inset 0px 0px 15px #aaa;
    -moz-box-shadow: inset 0px 0px 15px #aaa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 125px;
}

.meter > span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #3487a1;
}

.main.middle.col p.meterLabel {
    padding: 0;
    margin: 10px 0 5px;
    font-size: 24px;
    font-weight: 300;
}

/* questions list */
.main.middle.col .questionsWrap p {
    padding-left: 40px;
}

.main.middle.col .questionItem {
    margin-left: 20px;
    padding: 5px 10px;
    border-top: solid 1px #eee;
    width: 650px;
}

.main.middle.col .questionItem .user {
    width: 75px;
    margin-right: 20px;
    padding-top: 10px;
}
.main.middle.col .questionItem .user img{
    display: block;
    margin:0 auto;
}
.main.middle.col .questionItem .user span{
    font-size: 12px;
    display: block;
    padding-top: 3px;
    text-align: center;
}
.main.middle.col .questionItem h4{
    font-size: 16px;
}
.main.middle.col .questionItem ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main.middle.col .questionItem li{
    display: inline;
    font-size: 11px;
}
.main.middle.col .questionItem li button{
    color: #999;
    font-weight: bold;
    padding: 2px 3px 0;
}
.main.middle.col .questionItem li button:hover{
    color: #555;

}
.main.middle.col .questionItem li:after{
    content: " | ";
}
.main.middle.col .questionItem li:last-child:after{
    content: " ";
}
.main.middle.col .questionItem hr {
    padding: 0;
    margin: 0;
}




.iconSmall {
    font-size: 15px;
}

/* Right Column */
p {
    padding: 20px;
    color: #222;
}

/* Footer row */
footer p {
    color: #3487a1;
    margin: 0;
    padding: 0 20px;
}

/* ==========================================================================
Helper classes
========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
