<a class="btn small pullLeft" href="/index.html#qna"><i class="icon-arrow-left"></i></a>
        <hr class="noline" />
<h2>Edit Details</h2>
<div class="hero">
    <form class="form" name="myForm">
        <input x-ng-model="title" type="text" placeholder="The Page Title" required />
        <textarea x-ng-model="introduction" placeholder="The introduction shown to the users in question and answers page." col="30" rows="6"></textarea>
        <input type="email" x-ng-model="email" placeholder="Q & A Administrator Email" required />
        <textarea x-ng-model="thankyou" required placeholder="Thank you message which should be sent to users asking questions" col="30" rows="6"></textarea>
        <button class="btn pullRight" x-ng-click="update(title,introduction,email,thankyou)" x-ng-disabled="isClean() || myForm.$invalid">Update</button>
    </form>
    <p class="meterLabel">Step 1 of 1</p>
    <div class="meter">
        <span style="width: 100%"></span>
    </div>
</div>