<a class="btn small pullRight" title="Edit Details" href="/index.html#qna/details/edit"><i class="icon-pencil"></i></a>
<h1>{{details.title}}</h1>
<p x-ng-show="details.introduction">{{details.introduction}}</p>
<h2>Need some more Information</h2>
<div class="hero">
    <form class="form" name="myForm">
        <input type="email" x-ng-model="email" placeholder="Q & A Administrator Email" required />
        <textarea x-ng-model="thankyou" required placeholder="Thank you message which should be sent to users asking questions" col="30" rows="6"></textarea>
        <button class="btn pullRight" x-ng-click="update(email,thankyou)" x-ng-disabled="isClean() || myForm.$invalid" >Done</button>
    </form>
    <p class="meterLabel">Step 2 of 2</p>
    <div class="meter">
        <span style="width: 100%"></span>
    </div>
</div>  