<h2>Add a Questions & Answers page to your portal.</h2>
<div class="hero">
    <form class="form" name="myForm">
        <input x-ng-model="title" type="text" placeholder="The Page Title" required/>
        <textarea x-ng-model="introduction" placeholder="The introduction shown to the users in question and answers page." col="30" rows="6"></textarea>
        <button class="btn pullRight" x-ng-click="next(title,introduction)" x-ng-disabled="isClean() || myForm.$invalid">Next</button>
    </form>
    <p class="meterLabel">Step 1 of 2</p>
    <div class="meter">
        <span style="width: 50%"></span>
    </div>
</div>