<a class="btn small pullLeft" href="/index.html#qna"><i class="icon-arrow-left"></i></a>
<hr class="noline" />
<h2>Add Dummy Questions</h2>
<div class="hero">
    <form class="form" name="myForm">
        <textarea x-ng-model="question" required placeholder="Question?" col="30" rows="6"></textarea>
        <button class="btn pullRight" x-ng-click="add('Anonymous',question)" x-ng-disabled="isClean() || myForm.$invalid">Add</button>
    </form>
    <p class="meterLabel">Step 1 of 1</p>
    <div class="meter">
        <span style="width: 100%"></span>
    </div>
</div>