<hr class="noline">
<div class="hero">
<span class="status"
      x-ng-class="{draft:details.status=='Draft', live:details.status=='Live', archive:details.status=='In Archives'}">{{details.status}}</span>
    <button class="btn small pullRight" x-ng-show="details.status=='Live'" title="Unpublish"
            x-ng-click="setStatus('Draft')"><i class="icon-remove"></i></button>
    <button class="btn small pullRight" x-ng-show="details.status=='Live'" title="Archive"
            x-ng-click="setStatus('In Archives')"><i class="icon-folder-close"></i></button>
    <a class="btn small pullRight" title="Edit Details" href="/index.html#qna/details/edit"><i class="icon-pencil"></i></a>
    <a class="btn small pullRight" title="Edit Email Templates" href="/index.html#qna/templates/edit"><i
            class="icon-envelope-alt"></i></a>
    <button class="btn small pullRight" x-ng-show="details.status=='Draft'" title="Pubish"
            x-ng-click="setStatus('Live')"><i
            class="icon-ok"></i></button>
    <button class="btn small pullRight" x-ng-show="details.status=='In Archives'" title="Unarchive"
            x-ng-click="setStatus('Live')"><i class="icon-folder-open"></i></button>
    <a class="btn small pullRight" x-ng-show="details.status=='Live'" title="Add Dummy Question"
       href="/index.html#qna/questions/dummy"><i
            class="icon-plus"></i></a>


    <h1>{{details.title}}</h1>

    <p>{{details.introduction}}</p>
</div>
<hr class="noline">
<div class="questionsWrap">
    <div x-ng-show="details.status=='Live' || details.status=='In Archives'">
        <div buttons-radio class="btnGroup" x-model="filterCriteria.status" x-options="filterOptions"></div>

        <h2>{{filterCriteria.status}} Questions</h2>

        <div x-ng-show="(questions | filter:filterCriteria).length">
            <div ng-repeat="question in questions | filter:filterCriteria">
                <div class="questionItem">
                    <a class="btn small pullRight" x-ng-show="details.status=='Live'" title="Tag"
                                             href="#"><i
                        class="icon-tag iconSmall"></i></a>

                    <div class="user pullLeft">
                        <img src="/img/avatar_user.png" alt=""/>
                        <span>{{question.username}}</span>
                    </div>
                    <h4>{{question.question}}</h4>

                    <ul class="pullRight">
                        <li ng-hide="question.status=='Publicly Answered'" ><button x-ng-click="moveTo(question.id,'Publicly Answered')">Answer Publicly</button></li>
                        <li ng-hide="question.status=='Privately Answered'"><button x-ng-click="moveTo(question.id,'Privately Answered')">Answer Privately via email</button></li>
                        <li ng-hide="question.status=='Archived'"><button x-ng-click="moveTo(question.id,'Archived')">Archive</button></li>
                        <li ng-hide="question.status=='Junk'"><button x-ng-click="moveTo(question.id,'Junk')">Junk</button></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div x-ng-show="!(questions | filter:filterCriteria).length">
            <p>There is no {{filterCriteria.status | lowercase}} questions</p>
        </div>
    </div>
</div>