<a class="btn small pullLeft" href="/index.html#qna"><i class="icon-arrow-left"></i></a>
<hr class="noline"/>
<h2>Edit Automatic Email Templates</h2>
<div class="hero">
    <form class="form fullWidth noIndent" name="myForm">

        <div class="zippy" zippy-title="Notification sent to admin when a new question added">
            <input x-ng-model="data.adminSubject" type="text" placeholder="Subject" required/>
            <textarea x-ng-model="data.adminBody" placeholder="Body" col="30" rows="6" required></textarea>
        </div>

        <div class="zippy" zippy-title="Notification sent to user when his Question had been answered">
            <input x-ng-model="data.userSubject" type="text" placeholder="Subject" />
            <textarea x-ng-model="data.userBody" placeholder="Body" col="30" rows="6" ></textarea>
        </div>

        <div class="zippy" zippy-title="Notification sent to user when his Question had been answered privately">
            <input x-ng-model="data.userPrivateSubject" type="text" placeholder="Subject" />
            <textarea x-ng-model="data.userPrivateBody" placeholder="Body" col="30" rows="6" ></textarea>
        </div>

        <div class="zippy" zippy-title="Acknowledgement sent to an anonymous user when he adds a new question">
            <input x-ng-model="data.anonymousSubject" type="text" placeholder="Subject" />
            <textarea x-ng-model="data.anonymousBody" placeholder="Body" col="30" rows="6" ></textarea>
        </div>

        <button class="btn pullRight" x-ng-click="update(data.adminSubject, data.adminBody, data.userSubject, data.userBody, data.userPrivateSubject, data.userPrivateBody, data.anonymousSubject, data.anonymousBody)"
                x-ng-disabled="isClean() || myForm.$invalid">Update
        </button>
    </form>
    <p class="meterLabel">Step 1 of 1</p>

    <div class="meter">
        <span style="width: 100%"></span>
    </div>
</div>